:root {
  --crust: #11111b;
  --mantle: #181825;
  --base: #1e1e2e;
  --surface0: #313244;
  --surface1: #45475a;
  --surface2: #585b70;
  --overlay0: #6c7086;
  --overlay1: #7f849c;
  --overlay2: #9399b2;
  --subtext0: #a6adc8;
  --subtext1: #bac2de;
  --text: #cdd6f4;
  --lavender: #b4befe;
  --blue: #89b4fa;
  --sapphire: #74c7ec;
  --sky: #89dceb;
  --teal: #94e2d5;
  --green: #a6e3a1;
  --yellow: #f9e2af;
  --peach: #fab387;
  --maroon: #eba0ac;
  --red: #f38ba8;
  --mauve: #cba6f7;
  --pink: #f5c2e7;
  --flamingo: #f2cdcd;
  --rosewater: #f5e0dc;
}

.lightmode {
  --crust: #dce0e8;
  --mantle: #e6e9ef;
  --base: #eff1f5;
  --surface0: #ccd0da;
  --surface1: #bcc0cc;
  --surface2: #acb0be;
  --overlay0: #9ca0b0;
  --overlay1: #8c8fa1;
  --overlay2: #7c7f93;
  --subtext0: #6c6f85;
  --subtext1: #5c5f77;
  --text: #4c4f69;
  --lavender: #7287fd;
  --blue: #1e66f5;
  --sapphire: #209fb5;
  --sky: #04a5e5;
  --teal: #179299;
  --green: #40a02b;
  --yellow: #df8e1d;
  --peach: #fe640b;
  --maroon: #e64553;
  --red: #d20f39;
  --mauve: #8839ef;
  --pink: #ea76cb;
  --flamingo: #dd7878;
  --rosewater: #dc8a78;
}

/* Tags */
body {
  background-color: var(--crust);
  font-family: "Space Mono", monospace;
  color: var(--mauve);
  transition: all 0.25s ease-out;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 2px 15px;
}

/* Selectors */
.subtitle {
  font-weight: bold;
  color: var(--red);
}

.title {
  font-weight: bold;
}

.bottom {
  position: fixed;
  bottom: 0;
  font-size: 0.52em;
}

.bottom a {
  text-decoration: none;
  color: var(--title);
}

.bottom a:hover {
  text-decoration: underline;
}

/* IDs */
/* Adjust the main window */
#main_window {
  background-color: var(--mantle);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; /* Use flexbox to align the image and content side by side */
  align-items: flex-start; /* Align items to the top */
  box-sizing: border-box;
  width: fit-content; /* Box size adjusts based on content */
  border-radius: 15px; /* Round the corners with 15px radius */
  overflow: hidden; /* Ensures child elements respect the rounded corners */
}

/* Adjust the image */
.image {
  width: 250px; /* Set a fixed size or use natural width */
  margin: 0; /* No margin around the image */
  display: block; /* Block-level element */
}

/* Content area */
#content {
  padding-left: 20px; /* Add padding-left to ensure text doesn't touch the image */
  padding-top: 0px;
  transition: margin-left 0.25s ease; /* Smooth transition for margin change */
}

#links_container {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  margin-left: -1.8%;
}

#links_container li,
a {
  color: var(--text);
  text-decoration: none;
  transition: all 0.4s;
  white-space: nowrap; /* Prevent text inside list items from wrapping */
}

#links_container a:hover {
  color: var(--peach);
  transition: all 0.4s;
}

div#date {
  margin-top: -3%;
  margin-left: 0.1%;
}

.light-mode-toggle {
  opacity: 0;
  transition: all 0.4s;
}

.light-mode-toggle:hover {
  opacity: 1;
  transition: all 0.4s;
}

/* DO NOT EDIT BELOW THIS LINE */
/* Transitions */
#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: var(--bg);
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

/* Media queries */
@media (max-width: 980px) {
  img#leftImg {
    height: 280px;
  }

  #main_window {
    width: 833px;
    padding-right: 0;
  }

  ul {
    padding-top: 0px;
    margin-top: -7px;
  }

  #content {
    padding-top: 0px;
    margin-left: 220px;
  }
}

@media (max-width: 833px) {
  img#leftImg {
    display: none;
  }

  #main_window {
    width: 650px;
  }

  #content {
    margin-left: 20px;
  }
}

@media (max-width: 650px) {
  #main_window {
    width: 100%;
  }
}

@media (max-width: 450px) {
  form input[type="search"] {
    width: 90%;
  }
}
